torch
torchvision
torchaudio
opencv-python
flash-attn --no-build-isolation
llama-cpp-python -C cmake.args="-DGGML_CUDA=on"
tqdm
soundfile
sounddevice
kokoro
whisper-live
tokenizers --upgrade
python-dotenv
onnxruntime-gpu
# insightface
